	
	/*home.phpのcssここから*/
	.home_header{
		width: 100%;
		height: 60px;
		background-color: #1aff1a;
	}
	
	.header_logo
	{
		float: left;
		height: 60px;
		margin-left: 50px;
	}
	
	.home_logolayout
	{
		max-width: 200px;
		max-height: 60px;
	}
	
	#header_nav{
		margin-right: 70px;
	}
	
	#header_nav ul{
		float : right;
		height: 20px;
		padding-top: 25px;
	}
	
	#header_nav ul li{
		display: inline-block;
		width: 130px;
		height: 20px;
		font-size: 15px;
		font-family: helvetica;
		text-align: center;
	}
	
	#header_nav a{
		text-decoration: none;
		color: #848484;
	}
	
	#header_nav li :hover
	{
		background-color: #d9ffcc;
		font-family: curlz MT;
	}
	
	.home_main-container
	{
		width: 100%;
		height: 615px;
		background-image: url(../pic/yamakoko_pic_main.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.home_mainLeft
	{
		width: 60%;
		height: 100%;
		float: left;
	}
	
	.home_leftContent
	{
		width: 60%;
		height: 300px;
		float: left;
		margin-top: 150px;
		margin-left: 100px;
		color:  #ffff99;
		text-shadow: 3px 3px 3px #000000;
		font-size: 40px;
	}
	
	.home_mainRight
	{
		width: 40%;
		height: 100%;
		float: left;
	}
	
	.home_rightLogin
	{
		
		width: 60%;
		margin-left: 10%;
		height: 400px;
		margin-top: 100px;
		background-color: rgba(128, 128, 128, 0.5);
		color: white;
		border: 5px solid green;
		border-radius: 5px;
		
	}
	
	.home_loginRow
	{
		width: 100%;
		height: 30px;
		text-align: center;
		font-size: 24px;
		padding-top: 10px;
		float: left;
	}
	
	.home_loginRowInput
	{
		width: 95%;
		height: 60px;
		float: left;
		margin-left: 5%;
	}
	
	.home_loginRowMargin
	{
		margin-top: 20px;
	}
	
	.home_loginRowMargin2
	{
		margin-top: 10px;
	}
	
	.home_loginRowInputLayout
	{
		width: 190px;
		height: 20px;
		border: 4px solid #cccccc;
		border-radius: 5px;
		padding: 4px 10px;
		margin-top: 5px;
	}
	
	.home_loginRowInputText
	{
		text-shadow: 1px 1px 1px #000000;
		width: 32%;
		float: left;
	}
	
	.home_errorMessage
	{
		color: red;
		font-size: 13px;
		text-decoration: underline;
	}
	
	.home_loginButton
	{
		width: 100px;
		height: 30px;
		background-color: white;
		color: black;
		border: 0.5px solid black;
		border-radius: 5px;
	}
	
	.home_loginButton:hover
	{
		background-color: #666666;
		color: white;
	}
	
	.home_loginHr
	{
		width: 90%;
		margin-right: 5%;
	}
	
	.home_loginRowMargin3
	{
		padding-top: 30px;
	}
	
	.home_loginRowInputCreateA
	{
		width: 95%;
		height: 20px;
		float: left;
		margin-left: 5%;
		text-shadow: 1px 1px 1px #000000;
	}
	
	.home_loginButtonCreateA
	{
		width: 150px;
		height: 30px;
		background-color: white;
		color: black;
		border: 0.5px solid black;
		border-radius: 5px;
		margin-top: 15px;
	}
	
	
	.home_loginButtonCreateA:hover
	{
		background-color: #666666;
		color: white;
	}
	
	
	.home_footer
	{
		width: 100%;
		height: 25px;
		background-color: #d9d9d9;
		text-align: center;
		color: #737373;
		padding-top: 5px;
		font-family: helvetica;
		float: left;
	}

	/*home.phpのcssここまで*/
	
	/*nanzanalpineclub.phpのcssここから*/
	
	.nalpine_mainpicLeft
	{
		width: 50%;
		height: 400px;
		background-image: url(../pic/IMG_7990.JPG);
		background-size: 100% 400px;
		background-repeat: no-repeat;
		float: left;
	}
	
	.nalpine_leftH1
	{
		width: 50%;
		height: 200px;
		margin-left: 100px;
		margin-top: 50px;
		font-size: 40px;
		color: white;
		text-shadow: 2px 2px 2px blue;
	}
	
	.nalpine_mainpicRight
	{
		width: 50%;
		height: 400px;
		background-image: url(../pic/yamakoko_pic_alpine.JPG);
		background-size: 100% 400px;
		background-repeat: no-repeat;
		float: left;
	}
	
	.nalpine_topic
	{
		width: 100%;
		height: 25px;
		float: left;
		color: #00b300;
		text-align: center;
		font-size: 24px;
		padding-top: 2px;
		padding-bottom: 2px;
		background-color: #d9d9d9;
	}
	
	.nalpine_aboutUs
	{
		width: 100%;
		height: 300px;
		float: left;
	}
	
	.nalpine_memberGallery
	{
		width: 100%;
		height: 600px;
		float: left;
	}
	
	.nalpine_memberGalleryBig
	{
		width: 100%;
		height: 400px;
		float: left;
	}
	
	.nalpine_bigImageContainer
	{
		width: 60%;
		margin-left: 20%;
		height: 80%;
		margin-top: 2.5%;
		float: left;
	}
	
	.nalpine_BigImgCss
	{
		width: 100%;
		height: 100%;
		border: 15px solid #d9d9d9;
		border-radius: 5px;
	}
	
	.nalpine_memberGallerySmall
	{
		width: 20%;
		height: 200px;
		float: left;
	}
	
	/*.nalpine_memberGallerySmall :hover
	{
		background-color: green;
		
	}*/
	
	.nalpine_smallImageContainer
	{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		height: 80%;
		float: left;
	}
	
	.nalpine_memberName
	{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		height: 20%;
		float: left;
	}
	
	.nalpine_smallImageCSS
	{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	.nalpine_nameeach
	{
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		border-radius: 5px;
	}
	
	.nalpine_picRow
	{
		width: 100%;
		height: 200px;
		float: left;
	}
	
	.nalpine_contactUs
	{
		width: 100%;
		height: 400px;
		float: left;
	}
	
	.nalpine_contactForm
	{
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		height: 300px;
		margin-top: 40px;
		border: 1px solid #bfbfbf;
		float: left;
	}
	
	.nalpine_contactFormLeft
	{
		width: 29.9%;
		height: 100%;
		float: left;
	}
	
	.nalpine_divForBorder
	{
		width: 0.1%;
		height: 100%;
		float: left;
		background-color: #bfbfbf;
	}
	
	.nalpine_contactFormRight
	{
		width: 70%;
		height: 100%;
		float: left;
	}
	
	.nalpine_contacLeftRowS
	{
		width: 100%;
		height: 50px;
		float: left;
		border-bottom: 1px solid #bfbfbf;
		text-align: center;
		font-family: times new roman;
		background-color: #e6e6e6;
	}
	
	.nalpine_contactCategoryNameS
	{
		padding-top: 15px;
	}
	
	.nalpine_contacLeftRowB
	{
		width: 100%;
		height: 198px;
		float: left;
		text-align: center;
		font-family: times new roman;
		background-color: #e6e6e6;
	}
	
	.nalpine_contactCategoryNameB
	{
		padding-top: 80px;
	}
	
	.nalpine_contactRightRowS
	{
		width: 100%; 
		height: 50px;
		float: left;
		border-bottom: 1px solid #bfbfbf;
	}
	
	.nalpine_showErrorLayout
	{
		color: red;
	}
	
	.nalpine_contactInputText
	{
		margin-top: 8.5px;
		height: 24px;
		width: 90.5%;
		margin-left: 4%;
		padding-left: 1%;
	}
	
	.nalpine_contactRightRowR
	{
		width: 100%;
		height: 198px;
		float: left;
	}
	
	.nalpine_contactTextArea
	{
		margin-left: 4%;
		margin-top: 10px;
		padding-top: 8.5px;
		padding-left: 1%;
	}
	
	/* will be only in google chrome */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
    .nalpine_contactTextArea
	{
		width: 39em;
		height: 12em;
	}
}
	
	.nalpine_contactSubmitButton
	{
		
	}
	
	.nalpine_contactSubmitButtonLayout
	{
		margin-top: 12px;
		width: 140px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	

	/*nanzanalpineclub.phpのcssここまで*/
	
	/*contact_send_db.phpのcssここから*/
	
	.csdb_main
	{
		height: 615px;
	}
	
	.csdb_confirmDiv
	{
		width: 100%;
		height: 30px;
		float: left;
		margin-top: 80px;
	}
	
	.csdb_confirmDivH2
	{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		font-family: times new roman;
	}
	
	.csdb_contactUs
	{
		width: 100%;
		height: 400px;
		float: left;
	}
	
	.csdb_contactForm
	{
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		height: 300px;
		border: 1px solid #bfbfbf;
		float: left;
	}
	
	.csdb_contactFormLeft
	{
		width: 29.9%;
		height: 100%;
		float: left;
	}
	
	
	.csdb_divForBorder
	{
		width: 0.1%;
		height: 100%;
		float: left;
		background-color: #bfbfbf;
	}
	
	.csdb_contactFormRight
	{
		width: 70%;
		height: 100%;
		float: left;
	}
	
	.csdb_contacLeftRowS
	{
		width: 100%;
		height: 50px;
		float: left;
		border-bottom: 1px solid #bfbfbf;
		text-align: center;
		font-family: times new roman;
		background-color: #e6e6e6;
	}
	
	.csdb_contactCategoryNameS
	{
		padding-top: 15px;
	}
	
	.csdb_contacLeftRowB
	{
		width: 100%;
		height: 198px;
		float: left;
		text-align: center;
		font-family: times new roman;
		background-color: #e6e6e6;
	}
	
	.csdb_contactCategoryNameB
	{
		padding-top: 80px;
	}
	
	.csdb_contactRightRowS
	{
		width: 100%; 
		height: 50px;
		float: left;
		border-bottom: 1px solid #bfbfbf;
	}
	
	.csdb_showErrorLayout
	{
		color: red;
	}
	
	.csdb_contactInputText
	{
		margin-top: 8.5px;
		height: 24px;
		width: 90.5%;
		margin-left: 4%;
		padding-left: 1%;
	}
	
	.csdb_contactRightRowR
	{
		width: 100%;
		height: 198px;
		float: left;
	}
	
	.csdb_contactTextArea
	{
		margin-left: 4%;
		margin-top: 10px;
		padding-top: 8.5px;
		padding-left: 1%;
	}
	
	/* will be only in google chrome */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
    .csdb_contactTextArea
	{
		width: 39em;
		height: 12em;
	}
}
	
	.csdb_contactSubmitButton
	{
		
	}
	
	.csdb_contactSubmitButtonLayout
	{
		margin-top: 12px;
		width: 140px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	
	.csdb_contactBackButtonLayout
	{
		margin-top: 12px;
		margin-left: 20px;
		width: 140px;
		height: 30px;
		background-color: orange;
		color: white;
		border-radius: 5px;
	}
	
	/*contact_send_db.phpのcssここまで*/
	
	/*signup.phpのcssここから*/
	.signup_main
	{
		width: 100%;
		height: 615px;
		float: left;
		background: url('../pic/baclground.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	/*-webkit-filter: blur(5px); */ /* Chrome, Safari, Opera */
	/*filter: blur(5px);*/
		
	
	.signup_messege
	{
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
		float: left;
		height: 40px;
		margin-top: 40px;
	}
	
	.signup_messegeH1
	{
		text-align: center;
		font-size: 30px;
		font-family: times new roman;
	}
	
	.signup_resister
	{
		width: 40%;
		margin-left: 30%;
		margin-right: 30%;
		height: 400px;
		margin-top: 5px;
		float: left;
		border: 1px solid #cccccc;
		border-radius: 5px;
		background-color: rgba(128, 128, 128, 0.5);
	}
	
	.signup_resisterMain
	{
		width: 88%;
		margin-left: 6%;
		height: 360px;
		margin-top: 20px;
		float: left;
	}
	
	.signup_resisterLeft
	{
		width: 40%;
		height: 360px;
		float: left;
	}
	
	.sighup_resisterRowLeft
	{
		width: 100%;
		height: 90px;
		float: left;
	}
	
	.sighup_resisterRowLeftP
	{
		text-align: left;
		margin-top: 30px;
		font-family: times new roman;
	}
	
	.signup_resisterRight
	{
		width: 60%;
		height: 360px;
		float: left;
	}
	
	.sighup_resisterRowRight
	{
		width: 100%;
		height: 90px;
		float: left;
	}
	
	.signup_showError
	{
		color: red;
		font-family: Franklin Gothic Medium;
	}
	
	.sighup_resisterRowRightInput
	{
		width: 80%;
		height: 25px;
		margin-top: 25px;
		border: 3px solid #cccccc;
		border-radius: 5px;
		padding-left: 6px;
		float: left;
	}
	
	.signup_signupButton
	{
		margin-top: 30px;
		width: 140px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	/*signup.phpのcssここまで*/
	
	/*signupThanksのcssここから*/
	.signupThanks_main
	{
		width: 100%;
		height: 615px;
	}
	
	
	.signupThanks_imageContainer
	{
		width: 100%;
		height: 400px;
		float: left;
	}
	
	.signupThanks_imageControler
	{
		width: 40%;
		margin-left: 30%;
		margin-right: 20%;
		height: 300px;
		margin-top: 80px;
		float: left;
	}
	
	.signupThanksImage
	{
		width: 100%;
		height: 100%;
	}
	
	.signupThanks_massege
	{
		width: 100%;
		height: 50px;
		float: left;
	}
	
	.signupThanks_massegeFont
	{
		text-align: center;
		font-family: times new roman;
		font-size: 30px;
	}
	
	.signupThanks_backButton
	{
		margin-top: 30px;
		width: 140px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	/*signupThanksのcssここまで*/
	/* loginTopのcssここから*/
	.loginTop_main
	{
		width: 100%;
		height: 615px;
		position:relative:
	}
	
	
	
	/* loginTopのcssここまで*/
	
	/*logoutのcssここから*/
	.logout_main
	{
		width: 100%;
		height: 615px;
		float: left;
		background: url(../pic/yamakoko_logout.jpg);
		background-size: cover;
	}
	
	.logout_message
	{
		width: 50%;
		margin-left: 25%;
		height: 150px;
		float: left;
		margin-top: 120px;
		border: 5px solid #d9d9d9;
		border-radius: 5px;
		background-color: rgba(0, 255, 204, 0.3);
	}
	
	.logout_messageP
	{
		width: 100%;
		font-size: 30px;
		font-family: times  new roman;
		text-align: center;
		margin-top: 20px;
	}
	
	.logout_backButton
	{
		margin-top: 30px;
		width: 140px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	/* logoutのcssここまで*/
	/*productのcssここから*/
	.product_main
	{
		
	}
	
	.product_produce
	{
		width: 100%;
		height: 400px;
		float: left;
		background-image: url(../pic/yamakoko_productBack2.jpg);
		background-size: 100% 400px;
		background-repeat: no-repeat;
	}
	
	.product_produceMessage
	{
		margin-top: 100px;
		margin-left: 100px;
		color: white;
		font-size: 35px;
		text-shadow: 3px 3px 3px #00ff00;
	}
	
	.product_forSale
	{
		width: 100%;
		height: 30px;
		float: left;
	}
	
	.product_forSaleMessage
	{
		margin-left: 50px;
		font-size: 20px;
		margin-top: 5px;
		font-family: century;
	}
	
	.product_productBigBox
	{
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		float: left;
	}
	
	.product_productBox
	{
		width: 20%;
		margin-right: 2.5%;
		margin-left: 2.5%;
		height: 300px;
		float: left;
	}
	
	.prodect_productPic
	{
		max-width: 100%;
		min-width: 100%;
		min-height: 230px;
		max-height: 230px;
		float: left;
	}
	
	.product_productDetail
	{
		width: 100%;
		height: 70px;
		float: left;
	}
	
	.product_productDetailRow
	{
		width: 100%;
		height: 35px;
		float: left;
		font-family: century;
	}
	
	/*productのcssここまで*/
	/*productDetailのcssここから*/
	.pDetail_main
	{
		font-family :century;
	}
	
	.pDtail_mainLeft
	{
		width: 74%;
		margin-left: 3%;
		height: 615px;
		float: left;
	}
	
	.pDetail_leftImg
	{
		width: 30%;
		height: 95%;
		float: left;
		margin-top: 5%;
	}
	
	.pDetail_pic
	{
		max-width: 95%;
		min-width: 95%;
		max-height: 75%;
		min-height: 75%;
	}
	
	.pDetail_adv
	{
		width: 95%;
		height: 25%;
		float: left;
		
	}
	
	.pDetail_detail
	{
		width: 62%;
		margin-left: 3%;
		margin-right: 5%;
		height: 95%;
		margin-top: 5%;
		float: left;
	}
	
	.pDetail_title
	{
		font-size: 30px;
		font-family: century;
		width: 100%;
		float: left;
	}
	 
	.pDetail_rate
	{
		width: 100%;
		float: left;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.pDetail_hr
	{
		
	}
	
	.pDetail_price
	{
		width: 100%;
		float: left;
		font-size: 30px;
		font-family: century;
	}
	
	.pDetail_details
	{
		width: 100%;
		float: left;
		font-size: 15px;
		font-family: century;
		margin-top: 10px;
	} 
	
	.pDtail_mainRight
	{
		width: 20%;
		margin-right: 3%;
		height: 615px;
		float: left;
	}
	
	.pDetail_cartDiv
	{
		width: 100%;
		margin-top: 30px;
		height: 40%;
		float: left;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
	}
	
	.pDetail_amount
	{
		float: left;
		background-color: red;
		margin-top: 15px;
		margin-left: 30px;
	}
	
	.pDetail_quantity
	{
		margin-left: 5px;
		border-radius: 5px;
		height: 25px;
	}
	
	.pDetail_cartBtnDiv
	{
		width: 100%;
		margin-top: 10px;
		float: left;
		background-color: yellow;
		position: relative;
	}
	
	.pDetail_cartBtn
	{
		width: 80%;
		margin-left: 30px;
		height: 30px;
		background: linear-gradient(#ffc266, orange);
		color: white;
		border-radius: 5px;
	}
	
	.pDetail_cartLogo
	{
		width: 21px;
		height:23px;
		margin-left: 35px;
		margin-top: 4px;
		position: absolute;
		background-color: black;
		border-radius: 3px;
	}
	
	.pDetail_wishListBtn
	{
		width: 80%;
		margin-left: 30px;
		margin-top: 20px;
		height: 30px;
		background: linear-gradient(#f2f2f2, #d9d9d9);
		border-radius: 5px;
	}
	
	/*productDetailのcssここまで*/